PORT=5000
NODE_ENV=development
SUPABASE_URL=https://aypxijzcpcqjjeosqvpo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5cHhpanpjcGNxamplb3NxdnBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEzMzY1OTUsImV4cCI6MjEwNjkxMjU5NX0.nhrf4F_IvhTNMg-weGN8XxuqHoYK8IIVvo1MaVl6Qn4
JWT_SECRET=mHDu1QgBP4N1MpQLiHtkfjcO9DF9xJjMlOe20tYDH+87jHLaa2QoRcNghlhlek8RK+12/xGMiI6xUicJRoKnCQ==
GEMINI_API_KEY=AQ.Ab8RN6JXbueKzpgqtcIY5LL-gDldR-y099rIPeMoZotDVvItZw
